<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Styles Link-->
    <link rel="stylesheet" href="../public/styles/nav.css" />
    <link rel="stylesheet" href="../public/styles/aboutus.css" />
    <link rel="stylesheet" href="../public/styles/footer.css" />
    <!-- Google Fonts Playfair Display and Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Playfair+Display:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- JQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body id="about">
    <!--Navigation bar-->
    <div id="nav-placeholder"></div>
    <script>
      $(function () {
        $("#nav-placeholder").load("../views/static/nav.html");
      });
    </script>
    <!--end of Navigation bar-->
    <!-- heroSection  -->
    <section class="heroSection">
      <div class="hero">
        <div class="heroText">
          <h3>About Us</h3>
          <p>Home > About US</p>
        </div>
        <div class="heroImg">
          <img src="../public/images/Photos/regal.jpg" alt="" />
        </div>
      </div>
    </section>
    <!-- end of heroSection  -->
    <!-- history Section  -->
    <section class="historySection">
      <div class="history container">
        <div class="historyText">
          <div class="historyHead">
            <p>Our History</p>
            <h3>Our Company</h3>
          </div>
          <p>
            Regal Enterprises is a leading civil construction and maintenance
            company serving Vasai-Virar and Nallasopara since 2000. Founded by
            Mr. Iqbal Pathan with the vision of providing quality services and
            lasting values for clients, Regal Enterprises is built on pillars of
            trust, transparency and timely delivery. With a team of experienced
            engineers, supervisors, certified technicians and skilled workmen,
            we have successfully delivered hundreds of projects across segments
            - residential, commercial, corporate and industrial. Our capability
            encompasses the full spectrum of new construction, repairs,
            renovations, maintenance and facelift services. We handle everything
            from planning to execution to deliver your projects on time and on
            budget. At Regal Enterprises, your satisfaction is our biggest
            reward. We believe in forging long-term relationships by exceeding
            your expectations. Our commitment to impeccable service quality and
            customer centricity makes us the trusted construction partner in the
            region. We are grateful for the continuous patronage of our clients
            over the past two decades. Get in touch with us for your next
            project. We assure you the best of services and look forward to a
            mutually rewarding association
          </p>
        </div>
        <div class="historyImg">
          <img src="../public/images/Photos/companyHistory.jpg" alt="" />
        </div>
      </div>
    </section>
    <!-- end of history section  -->
    <!-- creative Section  -->
    <section class="creativeSection">
      <div class="creative container">
        <div class="creativeText">
          <div class="creativeTextLeft">
            <p>new adventure</p>
            <h3>The <span>creative</span> eye</h3>
          </div>
          <div class="creativeTextRight">
            <p>
              Dive into the world of Regal Enterprises and discover how we
              transform ideas into reality. This video showcases our wide range
              of services and the exceptional work we do. From creative designs
              to top quality construction, we're here to make your dreams come
              true. Join us on this journey and witness the power of our
              expertise in action.
            </p>
          </div>
        </div>
        <div class="creativeImg">
          <img src="../public/images/Photos/creativeEyeAboutUs.png" alt="" />
        </div>
      </div>
    </section>
    <!-- End of creative Section  -->
    <!-- Team Section  -->
    <section class="teamSection">
      <div class="team container">
        <div class="teamText">
          <p>Experts</p>
          <h3>Our <span>Brilliant</span> Team</h3>
        </div>
        <div class="teamInfo">
          <div class="teamPeople1">
            <img src="../public/images/Photos/team/p1.png" alt="" />
            <h3>Paul Gray</h3>
            <p>Founder & Contractor</p>
          </div>
          <div class="teamPeople2">
            <img src="../public/images/Photos/team/p2.png" alt="" />
            <h3>Akhil Pathan</h3>
            <p>Civil Engineer</p>
          </div>
          <div class="teamPeople3">
            <img src="../public/images/Photos/team/p3.png" alt="" />
            <h3>Iqbal Pathan</h3>
            <p>Architect</p>
          </div>
          <div class="teamPeople4">
            <img src="../public/images/Photos/team/p4.png" alt="" />
            <h3>Monica Smith</h3>
            <p>Designer</p>
          </div>
        </div>
      </div>
    </section>
    <!-- End of Team Section  -->

    <!-- Counter Section -->
    <section class="counterSection">
      <div class="counter container">
        <div class="count1 count">
          <img src="../public/images/PNG/18.png" alt="18" />
          <p>Years Of Experience</p>
        </div>
        <div class="count2 count">
          <img src="../public/images/PNG/62.png" alt="62" />
          <p>Expert Partners</p>
        </div>
        <div class="count3 count">
          <img src="../public/images/PNG/164.png" alt="164" />
          <p>Happy Customers</p>
        </div>
        <div class="count4 count">
          <img src="../public/images/PNG/26.png" alt="26" />
          <p>Active Projects</p>
        </div>
      </div>
    </section>
    <!-- End of Counter Section  -->
    <!-- contactUs Section  -->
    <section class="contactUsSection">
      <div class="contactUs container">
        <div class="contactHeading">
          <p>Contact US</p>
          <h3>Free <span>Consultation</span></h3>
        </div>
        <div class="contactText">
          <p>
            Unlock the potential of your dream project with our expert guidance.
            Schedule a free consultation now, and our team of professionals will
            be delighted to discuss your ideas, answer your questions, and
            provide tailored recommendations to bring your vision to life.
          </p>
          <a href="../views/contactus.html"><button>Contact Us</button></a>
        </div>
      </div>
    </section>
    <!-- End of ContactUs section -->

    <!-- footer -->
    <div id="footer-placeholder"></div>
    <script>
      $(function () {
        $("#footer-placeholder").load("../views/static/footer.html");
      });
    </script>
    <script src="/RegalEnterprises/public/JS/nav.js"></script>
    <!--end of footer-->
  </body>
</html>
