<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Styles Link-->
    <link rel="stylesheet" href="../public/styles/nav.css" />
    <link rel="stylesheet" href="../public/styles/service.css" />
    <link rel="stylesheet" href="../public/styles/footer.css" />
    <!-- Google Fonts Playfair Display and Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Playfair+Display:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- JQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Services</title>
  </head>
  <body id="services">
    <!--Navigation bar-->
    <div id="nav-placeholder"></div>
    <script>
      $(function () {
        $("#nav-placeholder").load("../views/static/nav.html");
      });
    </script>
    <script src="/public/JS/nav.js"></script>
    <!--end of Navigation bar-->
    <section class="heroSection">
      <div class="hero">
        <div class="heroText">
          <h3>Our Services</h3>
          <p>Home > Our Services</p>
        </div>
        <div class="heroImg">
          <img src="../public/images/Photos/regal.jpg" alt="" />
        </div>
      </div>
    </section>
    <!-- end of heroSection  -->
    <!-- service section  -->
    <section class="serviceSection">
      <div class="service container">
        <div class="serviceTextRight services">
          <div class="serviceTextRightImg">
            <img src="../public/images/Photos/sImg1.png" alt="" />
          </div>
          <div class="serviceText">
            <p class="serviceSubtitle">What we offer</p>
            <h3 class="serviceTitle">
              <span class="underline">Interior</span> Work
            </h3>
            <p class="serviceDesc">
              Interior design is the art of crafting spaces that balance
              functionality and aesthetics. In a bedroom design, we optimize
              space with a wardrobe, dressing area, and a comfortable bed,
              ensuring peaceful retreats. Hall design integrates a stylish TV
              unit panel and false ceiling, enhancing gatherings. Sliding doors
              add elegance and space efficiency. Our modular kitchen combines
              efficiency and elegance, transforming cooking into a culinary
              experience.
            </p>
          </div>
        </div>
        <div class="serviceTextLeft services">
          <div class="serviceText">
            <p class="serviceSubtitle">What we offer</p>
            <h3 class="serviceTitle">
              <span class="underline">Exterior</span> Work
            </h3>
            <p class="serviceDesc">
              Exterior work encompasses essential tasks like crack filling,
              providing structural integrity. Scaffolding ensures safety for
              intricate jobs. Checkered tiles offer durability and aesthetics.
              Painting protects and beautifies surfaces. Plumbing chambers house
              essential pipes, ensuring efficient functionality.
            </p>
          </div>
          <div class="serviceTextRightImg">
            <img src="../public/images/Photos/sImg2.png" alt="" />
          </div>
        </div>
        <div class="serviceTextRight services">
          <div class="serviceTextRightImg">
            <img src="../public/images/Photos/sImg3.png" alt="" />
          </div>
          <div class="serviceText">
            <p class="serviceSubtitle">What we offer</p>
            <h3 class="serviceTitle">
              <span class="underline">Modular Kitc</span>hen
            </h3>
            <p class="serviceDesc">
              Modular kitchen interior design specializes in creating efficient,
              customized, and aesthetically pleasing kitchen spaces. It focuses
              on optimizing storage, functionality, and style to enhance the
              cooking experience and overall living spaces.
            </p>
          </div>
        </div>
        <div class="serviceTextLeft services">
          <div class="serviceText">
            <p class="serviceSubtitle">What we offer</p>
            <h3 class="serviceTitle">
              <span class="underline">New Rcc </span>& Centering work
            </h3>
            <p class="serviceDesc">
              Exterior work encompasses essential tasks like crack filling,
              providing structural integrity. Scaffolding ensures safety for
              intricate jobs. Checkered tiles offer durability and aesthetics.
              Painting protects and beautifies surfaces. Plumbing chambers house
              essential pipes, ensuring efficient functionality.
            </p>
          </div>
          <div class="serviceTextRightImg">
            <img src="../public/images/Photos/sImg4.png" alt="" />
          </div>
        </div>
        <div class="serviceTextRight services">
          <div class="serviceTextRightImg">
            <img src="../public/images/Photos/sImg3.png" alt="" />
          </div>
          <div class="serviceText">
            <p class="serviceSubtitle">What we offer</p>
            <h3 class="serviceTitle">
              <span class="underline">Fabrication </span>& Glazing
            </h3>
            <p class="serviceDesc">
              We offer comprehensive services encompassing both fabrication and
              glazing, providing expert craftsmanship in constructing structural
              elements and seamlessly installing glass materials for windows,
              doors, and architectural openings. Our integrated approach ensures
              a perfect blend of functionality and aesthetics in every project.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Of Services Section  -->
    <!-- passion Section  -->
    <section class="passionSection">
      <div class="passion">
        <div class="passionText">
          <h3 class="passionTextTitle">Our Passion</h3>
          <div class="passionPoints">
            <img src="../public/images/PNG/sticky_note_2.png" alt="" />
            <div>
              <h3 class="passionPointsTitle">Experience</h3>
              <p class="passionPointsDesc">
                Our journey spans over two decades, steeped in the wisdom of
                countless projects, and guided by our commitment to growth.
              </p>
            </div>
          </div>
          <div class="passionPoints">
            <img src="../public/images/PNG/verified.png" alt="" />
            <div>
              <h3 class="passionPointsTitle">High Quality Services</h3>
              <p class="passionPointsDesc">
                Our journey spans over two decades, steeped in the wisdom of
                countless projects, and guided by our commitment to growth.
              </p>
            </div>
          </div>
          <div class="passionPoints">
            <img src="../public/images/PNG/analytics.png" alt="" />
            <div>
              <h3 class="passionPointsTitle">Development</h3>
              <p class="passionPointsDesc">
                Our passion drives us to continually evolve, innovate, and adapt
                to the changing landscape, ensuring we stay at the forefront of
                our industry.
              </p>
            </div>
          </div>
        </div>
        <div class="passionImg">
          <img src="../public/images/Photos/companyHistory.jpg" alt="" />
        </div>
      </div>
    </section>
    <!-- End of Passion Section  -->
    <!-- contactUs Section  -->
    <section class="contactUsSection">
      <div class="contactUs">
        <div class="contactHeading">
          <p>Contact US</p>
          <h3>Free <span>Consultation</span></h3>
        </div>
        <div class="contactText">
          <p>
            Unlock the potential of your dream project with our expert guidance.
            Schedule a free consultation now, and our team of professionals will
            be delighted to discuss your ideas, answer your questions, and
            provide tailored recommendations to bring your vision to life.
          </p>
          <a href="../views/contactus.html"><button>Contact Us</button></a>
        </div>
      </div>
    </section>
    <!-- End of ContactUs section -->
    <!-- footer -->
    <div id="footer-placeholder"></div>
    <script>
      $(function () {
        $("#footer-placeholder").load("../views/static/footer.html");
      });
    </script>
    <!--end of footer-->
    <script src="/RegalEnterprises/public/JS/nav.js"></script>
  </body>
</html>
