<footer class="footer">
  <div class="footerMain">
    <div class="footer-contact">
      <h3>Contact</h3>
      <div>
        <p>Shop No 1, Gopani Nagar, Agashi Rd, Bolinj ,Virar West.</p>
        <p>
          Email:
          <a href="mailto:regalenterprises07@gmail.com" target="_blank"
            >regalenterprises07@gmail.com</a
          >
        </p>
        <p>
          Mobile: +91 8698844427 <br />
          Mobile: +91 8600684427
        </p>
      </div>
    </div>
    <div class="special-links">
      <h3>Special Links</h3>
      <ul>
        <li><a href="/views/aboutus.html">About US</a></li>
        <li><a href="/views/contactus.html">Contact US</a></li>
        <li><a href="/views/services.html">Services</a></li>
        <li><a href="/views/portfolio.html">Portfolio</a></li>
      </ul>
    </div>
    <div class="socialMedia">
      <h3>Social Media</h3>
      <p>Follow us on social media platform</p>
      <div class="footer-icon">
        <a href="https://www.facebook.com/" target="_blank"
          ><img
            class="social-logo"
            src="/RegalEnterprises/public/images/icons/facebook.png"
            alt=""
        /></a>
        <a href="https://www.instagram.com/" target="_blank"
          ><img
            class="social-logo"
            src="/RegalEnterprises/public/images/icons/instagram.png"
            alt=""
        /></a>
        <a href="https://www.twitter.com/" target="_blank"
          ><img
            class="social-logo"
            src="/RegalEnterprises/public/images/icons/twitter.png"
            alt=""
        /></a>
      </div>
    </div>
    <div class="newsletter">
      <p>NewsLetter</p>
      <div>
        <input
          placeholder="Enter your email"
          class="input"
          name="email"
          type="email"
        />
        <button class="button">S</button>
      </div>
    </div>
  </div>
  <div class="footerCopy">
    <p>© Regal Enterprises 2023. All Rights Reserved.</p>
  </div>
</footer>
